.cherry-bomb-one-regular,h1{
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

li > a{
  text-decoration: none; 
}
body{
  background: rgb(38, 12, 12);
}

:root {
  --primary-color: rgba(64, 64, 58, 0.683);
  --main-color: yellow;
}
button{
  padding:5px 13px;
  background: var(--main-color);
  border:none;
  cursor: pointer;
  border-radius: 5px;

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  display:flex;
  justify-content: space-between;
  align-items:center;
  color:white;
  padding:20px;
   background: rgb(38, 12, 12);
   position: fixed;
   width: 100vw;
   z-index:2;
   border-bottom: 2px solid var(--main-color);
  
}

li{
  display:inline;
  list-style:none;
}

li a{
  color:white;
  margin-left:20px;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

li a:hover{
  border-bottom: 2px solid var(--main-color);
  font-size: 30px;
  
}

.header{
  background: url(https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position:center ;
  background-size: cover;
  height: 90vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  text-align: center;

}

.mainheading{
  position:absolute;
  top:6rem;
  font-size: 4rem;
  word-spacing: 0.5rem;
  margin-bottom: -40px;;
}

.subheading{
  position:absolute;
  bottom:3.5rem;
}

.arrow{
  position:relative;
  right:-11.5rem;
  scale: 0.3;
  transform: rotate(145deg);
}
.click{
  position:relative;
  right:-18rem;
  bottom:15rem;
  transform: rotate(110deg);
}
.main-btn{
  background: transparent;
  transform:scale(6);
}
#our-story{
  height:90vh;
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
}

.img{
  width:400px;
  height:400px;
  background: url(https://images.unsplash.com/photo-1512568400610-62da28bc8a13?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fGNvZmZlZXxlbnwwfHwwfHx8Mg%3D%3D);
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
.title{
  font-size: 4rem;
  color:white;
  display:flex;
  justify-content: center;
}
.line{
  width:100px;
  height:100px;
  background:white;
  transform:translateX(-120px)
}

.section-content p{
  max-width: 500px;
  color:white ;
  font-family: sans-serif;
  margin:20px 0px;
  text-align: center;

}

.coffee-container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5rem;

}

.img-2{
  width:500px;
  height:400px;
  border-radius: 25px;
}

.content-section p{
  max-width:500px;
  margin-top:20px;
  text-align:center;
  color:white;
}

.title-two{
  font-size:3rem;
  color:white;
  text-align: left;
}

.products{
  margin-top: 5rem;
  
}

.title-three{
  font-size:4rem;
  margin-left: 8rem;
  margin-right:8rem;
  margin-top:4rem;
  margin-bottom: 10rem;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.cards{
  display:flex;
  flex-wrap:wrap;
  margin-top: 10rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card{
  border: 2px solid gold;
  padding: 0 20px;
  height : 400px;
  width:300px;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 4rem;
  position: relative;
}

.card-img{
  width:200px;
  height:120px;
  position:absolute;
  top:-50px;
  border: 1px solid gold;
}

.img-one {
  background: url(https://images.unsplash.com/photo-1494314671902-399b18174975?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}

.img-two {
  background: url(https://images.unsplash.com/photo-1506372023823-741c83b836fe?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDJ8fGNvZmZlZXxlbnwwfHwwfHx8Mg%3D%3D);
  background-position: center;
  background-size: cover;
}

.img-three {
  background: url(https://images.unsplash.com/photo-1504630083234-14187a9df0f5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTR8fGNvZmZlZXxlbnwwfHwwfHx8Mg%3D%3D);
  background-position: center;
  background-size: cover;
}

.card-title{
  color:white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 55px;
}

.card .items{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.card .items p{
  color:white;
  margin: 10px 0;
  font-family: cursive;
  text-align: center;
}

footer{
  height:50vh;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items:center;
  color:white;
  border-left: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
  margin: 0 100px;
}

footer .foot-conent{
  margin:20px;
  width: 300px;
  text-align: center;
}

footer .heading-info{
  margin-bottom: 20px;
}

footer p{
  line-height:25px;

}

span{
  color: var(--main-color)
}

@media only screen and (max-width: 768px) {
  nav a{
    font-size: 11px;
  }
  .mainheading{
    font-size: 2.5rem;
  }
  .arrow,.click{
    right:-7.5rem;
    
  }
}  

/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(38, 12, 12);
  border: 2px solid black;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background-color:rgb(242, 219, 200);
  border-radius: 7px;
  padding:2px;
  background-image: linear-gradient(45deg, rgb(38, 12, 12), rgb(242, 219, 200));
}


.gallery{
  position: relative;
  width:800px;
  margin-top: 5rem;
  margin-left:15rem;
  margin-right: 8rem;
  height: 500px;
  background:black;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  border: var(--main-color) 2px solid;
}

.gal{
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.clip{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
}

.clip1{
  background: url(https://images.unsplash.com/photo-1495862433577-132cf20d7902?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvZmZlZXxlbnwwfHwwfHx8Mg%3D%3D);
  background-size:cover;
  background-position: center;
  clip-path: polygon(0 0, 0% 100%, 33% 100%);
}

.clip2{
  background: url(https://images.unsplash.com/photo-1610632380989-680fe40816c6?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGNvZmZlZXxlbnwwfHwwfHx8Mg%3D%3D);
  background-size:cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 67% 100%, 33% 100%);
}

.clip3{
  background: url(https://images.unsplash.com/photo-1528697203043-733dafdaa316?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDZ8fGNvZmZlZXxlbnwwfHwwfHx8Mg%3D%3D);
  background-size:cover;
  background-position: center;
  clip-path: polygon(100% 0, 67% 100%, 100% 100%);
}

.gallery:hover .clip{
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.gallery .clip:hover{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}